
body {
    background-color: #64CEB5;
    font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.dropdown {
    position: relative;
    float: right;
}

.dropbtn {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10%;
    border: none;
    width: 200px;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EFEFD0;
    min-width: 200px;
    box-shadow: #000000 5px 5px 10px;
    z-index: 1;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    font-size: 1em;
    color: #F85A4F;
    padding: 10%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #caeaee;
    color: #0d6668;
}

.dropdown-content a:focus {
    border: 2px solid #F85A4F;
}

.dropbtn:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
}

.dropbtn:focus  {
    border: 2px solid #F85A4F;
}

@media (max-width: 480px) {
    .dropbtn {
        font-size: 1em;
        width: 150px;
    }
    .dropdown-content {
        font-size: 1em;
        min-width: 150px;
    }
    .dropdown-content a {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .dropbtn {
        font-size: 1em;
    }
    .dropdown-content {
        font-size: 1em;
    }
    .dropdown-content a {
        font-size: 1em;
    }
}   

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    height: 36em;
    width: 100%;
}

.hero h1 {
    color: #EFEFD0;
    text-align: center;
    font-family: tekton-pro, sans-serif; 
    font-weight: bold;
    font-size: 6em;
    text-shadow: #000000 4px 6px 2px;
    position: absolute;
    padding: 10%;
    border: none;
    margin: 0;
}

.hero button {
    position: absolute;
    bottom: 4%;
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin: 0;
}

.hero button:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
    cursor: pointer;
}

.hero button:focus {
    border: 2px solid #F85A4F;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 480px) {
    h1 {
        font-size: 4em;
    }
    .hero button {
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 5em;
    }
    .hero button {
        font-size: 1.5em;
    }
}

h2 {
    color: #0d6668;
    text-align: center;
    font-family: vinila-variable, sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding: 2%;
    border: none;
    margin: 2% auto;
}

p {
    color: #0d6668;
    text-align: center;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    padding: 2%;
    border: none;
    margin: 2% auto;
    display: flex;
    justify-content: center;
}

.info {
    background-color: #EFEFD0;
    padding: 2%;
    border: none;
    margin-left: 30%;
    margin-right: 30%;
}

h3 {
    color: #0d6668;
    text-align: center;
    font-family: vinila-variable, sans-serif;
    font-size: 2em;
    padding: 2%;
    border: none;
    margin: 2% auto;
}

.daily-specials {
    background-color: #EFEFD0;
    padding: 5%;
    border: none;
    margin-left: 30%;
    margin-right: 30%;
}

.music-schedule {
    background-color: #EFEFD0;
    padding: 5%;
    border: none;
    margin-left: 30%;
    margin-right: 30%;
}

ul {
    list-style-type: circle;
    color: #0d6668;
    text-align: left;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
}

@media (max-width: 480px) {
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    h3 {
        font-size: 1.5em;
    }
    .info {
        margin-left: 10%;
        margin-right: 10%;
    }
    .daily-specials {
        margin-left: 10%;
        margin-right: 10%;
    }
    .music-schedule {
        margin-left: 10%;
        margin-right: 10%;
    }
    ul {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    .info {
        margin-left: 20%;
        margin-right: 20%;
    }
    .daily-specials {
        margin-left: 20%;
        margin-right: 20%;
    }
    .music-schedule {
        margin-left: 20%;
        margin-right: 20%;
    }
    ul {
        font-size: 1em;
    }
}

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFD0;
    padding: 5%;
    max-width: 20em;
    width: 100%;
    height: 25em;
    margin: 5% auto;
}

.about-us-content img {
    width: 100%;
    height: auto;
}

h4 {
    color: #0d6668;
    text-align: center;
    font-family: vinila-variable, sans-serif;
    font-size: 2em;
}

.visit button{
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin: 2%;
    width: 200px;
    height: auto;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.visit button:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
    cursor: pointer;
}

.visit button:focus {
    border: 2px solid #F85A4F;
}

@media (max-width: 480px) {
    .about-us-container {
        flex-direction: column;
    }
    .about-us-content {
        width: 80%;
        height: auto;
    }
    .visit button {
        width: 150px;
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .about-us-container {
        flex-direction: column;
    }
    .about-us-content {
        width: 80%;
        height: auto;
    }
    .visit button {
        width: 180px;
        font-size: 1.5em;
    }
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFD0;
    padding: 5%;
    max-width: 20em;
    width: 100%;
    height: 25em;
    margin: 5% auto;
}

.menu-pdf button    {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin: 2%;
    width: 200px;
    height: auto;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}

.menu-pdf button:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
    cursor: pointer;
}

.menu-pdf button:focus {
    border: 2px solid #F85A4F;
}

.menu-content img {
    width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .menu-container {
        flex-direction: column;
    }
    .menu-content {
        width: 80%;
        height: auto;
    }
    .menu-pdf button{
        width: 150px;
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .h2 {
        font-size: 2em;
    }
    .menu-container{
        flex-direction: column;
    } 
    .menu-content {
        width: 80%;
        height: auto;
    }
    .menu-pdf button{
        width: 180px;
        font-size: 1.5em;
    }
}

.reservation-form {
    background-color: #EFEFD0;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
    border: none;
    margin: 2% 10% 4% 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    background-color: #ffffff;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
}

input[type="datetime-local"] {
    background-color: #ffffff;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 0; 
}

input[type="datetime-local"]:focus {
    border: 2px solid #F85A4F;
}

input[type="number"] {
    background-color: #ffffff;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 0; 
}

input[type="number"]:focus {
    border: 2px solid #F85A4F;
}

input[type="text"] {
    background-color: #ffffff;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 0; 
}

input[type="text"]:focus {
    border: 2px solid #F85A4F;
}   

input[type="tel"] {
    background-color: #ffffff;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 0; 
}

input[type="tel"]:focus {
    border: 2px solid #F85A4F;
}

.review-form {
    background-color: #EFEFD0;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
    border: none;
    margin: 2% 10% 4% 10%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    max-width: 800px;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 10%;
    accent-color: #0d6668;
}

fieldset:focus {
    border: 2px solid #F85A4F;
}

textarea {
    max-width: 800px;
    height: auto;
    padding: 2%;
    border: 2px solid #0d6668;
    border-radius: 10px;
    margin: 2%;
    font-family: vinila-variable, sans-serif;
    font-size: 1em;
    resize: none;
}

textarea:focus {
    border: 2px solid #F85A4F;
}

.submit {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin: 2%;
    width: 200px;
}

.submit:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
    cursor: pointer;
}

.submit:focus {
    border: 2px solid #F85A4F;
}   

@media (max-width: 480px) {
    .reservation-form {
        font-size: 0.8em;
    }
    .review-form {
        font-size: 0.8em;
    }
    fieldset {
        max-width: 50%;
        margin: 10% auto;
    }
    textarea {
        max-width: 50%;
        margin: 10% auto;
    }
    .submit {
        width: 50%;
        margin: 10% auto;
    }
}  

@media (max-width: 768px) {
    .reservation-form {
        font-size: 1em;
    }
    .review-form {
        font-size: 1em;
    }
    fieldset {
        max-width: 50%;
        margin: 10% auto;
    }
    textarea {
        max-width: 50%;
        margin: 10% auto;
    }
    .submit {
        width: 50%;
        margin: 10% auto;
    }
}

footer {
    background-color: #0d6668;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    color: #EFEFD0;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    border: none;
    margin: 0;
}

footer a:hover {
    color: #F6BB8E;
}

footer a:focus {
    border: 2px solid #F85A4F;
}

@media (max-width: 480px) {
    footer a {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    footer a {
        font-size: 1.2em;
    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.home h1 {
    color: #0d6668;
    text-align: center;
    font-family: tekton-pro, sans-serif; 
    font-weight: bold;
    font-size: 6em;
    padding: 5%;
    border: none;
    margin: 0;
}

.home button {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: vinila-variable, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    border-radius: 20px;
    border: none;
    margin: 2%;
    width: 200px;
    height: auto;
}

.home button:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
    cursor: pointer;
}

.home button:focus {
    border: 2px solid #F85A4F;
}

