
body {
    background-color: #64CEB5;
}

html {
  scroll-behavior: smooth;
}

.dropdown {
    position: relative;
    float: right;
}

.dropbtn {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: "Vinila Pro", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    border: none;
    width: 10em;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EFEFD0;
    min-width: 10em;
    box-shadow: #000000 0.1em 0.1em 0.2em;
    z-index: 1;
    font-family: "Vinila Variable", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    font-size: 1em;
    color: #F85A4F;
    padding: 1em 2em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #caeaee;
    color: #0d6668;
}

.dropdown-content a:focus {
    border: 2px solid #F85A4F;
}

.dropdown:hover .dropbtn {
    background-color: #F85A4F;
    color: #EFEFD0;
}

.dropdown:focus .dropbtn {
    border: 2px solid #F85A4F;
}

h1 {
    color: #64CEB5;
    text-align: center;
    font-family: "Tekton Pro", sans-serif;
    font-weight: bold;
    font-size: 6em;
    text-shadow: #000000 0.1em 0.1em 0.2em;
    position: absolute;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    height: 36em;
    width: 100%;
}

.hero button {
    position: absolute;
    bottom: 2em;
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: "Vinila Pro", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    border-radius: 1em;
    border: none;
}

.hero button:hover {
    background-color: #F85A4F;
    color: #EFEFD0;
}

.hero button:focus {
    border: 2px solid #F85A4F;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    color: #0d6668;
    text-align: center;
    font-family: "Tekton Pro", sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin-top: 2em;
}

p {
    color: #0d6668;
    text-align: center;
    font-family: "Vinila Variable", sans-serif;
    font-size: 1.5em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

a {
    background-color: #F6BB8E;
    color: #0d6668;
    font-family: "Vinila Pro", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    border-radius: 1em;
    border: none;
    text-decoration: none;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

a:hover {
    color: #EFEFD0;
}

a:focus {
    color: #F85A4F;
}

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFD0;
    padding: 2em;
    width: 20em;
    height: 25em;
    margin: 2em auto;
}

.about-us-content img {
    width: 100%;
    height: auto;
}

h3 {
    color: #0d6668;
    text-align: center;
    font-family: "Vinila Variable", sans-serif;
    font-size: 2em;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFD0;
    padding: 2em;
    width: 20em;
    height: 25em;
    margin: 2em auto;
}

.menu-content img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFD0;
    padding: 2em;
    width: 20em;
    height: 25em;
    margin: 2em auto;
    color: #0d6668;
    text-align: center;
    font-family: "Vinila Variable", sans-serif;
    font-size: 1.5em;
}
